/Practical-2/nbproject/private/
/Practical-2/build/
/Practical-3/nbproject/private/
/Practical-3/build/
/Coursework/sourcecode/checkers_game/nbproject/private/
/Coursework/sourcecode/checkers_game/build/
/Coursework/sourcecode/checkers_game/dist/
*.lck
